---
import Footer from "@components/Footer.astro";
import LayoutShell from "@components/LayoutShell.astro";
import ShellLine from "@components/ShellLine.astro";
import Layout from "@layouts/Layout.astro";

const title = "thekorn.dev | Oops...";
const currentPath = Astro.url.pathname;
---

<Layout title={title}>
  <LayoutShell path="~/404.html">
    <div class="p-6">
      <header class="mb-10">
        <ShellLine>echo $?</ShellLine>
        <h1 class="text-3xl font-bold text-(--color-fg0)">
          404 - Page Not Found
        </h1>
      </header>

      <section class="mb-10">
        <ShellLine>curl {currentPath}</ShellLine>
        <p class="text-lg leading-relaxed text-(--color-fg) mb-6">
          404 Not Found
          <br />
          <small>
            exit code: 1 <br />
            reason: skill issue
          </small>
        </p>
      </section>
      <Footer>cd ~</Footer>
    </div>
  </LayoutShell>
</Layout>
