---
interface Props {
  color: string;
}

const { color } = Astro.props;
---

<span class="color-box">{color}</span>

<style define:vars={{ swatch: color }}>
  .color-box::before {
    content: '';
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid var(--color-fg);
    background-color: var(--swatch);
  }
</style>
