---
import { css } from 'styled-system/css';

const line = css({
  marginBottom: '2',
  color: 'accent',
});

const prompt = css({
  color: 'accentPurple',
  marginRight: '1',
});
---

<p class={line}>
  <span class={prompt}>$</span><slot />
</p>
