---
import '@fontsource-variable/inter/index.css';
import Logo from './logo.png';
import PlaneImage from './plane.png';
import Globe from './globe.png';
import MenuDots from './menu.svg';

import { ChevronLeft, Plane } from '@lucide/astro';
---

<style is:global>
  .bp-v2 {
    --u: 0.25rem;
    --bp-bg: #dedcdc;
    --bp-brand: #5c0931;
    --bp-text: #706d6d;
    --bp-separator: #b3b3b3;
    font-family: 'Inter Variable', sans-serif;
    width: calc(97.5 * var(--u));
    height: calc(211 * var(--u));
    background: var(--bp-bg);
    position: relative;
  }

  .bp-v2__header {
    background: var(--bp-brand);
    height: 100%;
    width: 100%;
    position: absolute;
    inset: 0;
  }

  .bp-v2__header.HeaderShape {
    clip-path: path(
      'M 0,0 L 0,74 A 61,65 0,0,0 55,135 L 355,196 A 38,60 0,0,1 390,259 L 390,0 Z'
    );
  }

  .bp-v2__globe {
    background-image: var(--globeBackground);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    padding-top: calc(6 * var(--u));
    padding-left: calc(4 * var(--u));
    padding-right: calc(4 * var(--u));
  }

  .bp-v2__toolbar {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
  }

  .bp-v2__toolbar :global(svg:first-of-type) {
    flex: none;
  }

  .bp-v2__menu {
    flex: none;
  }

  .bp-v2__toolbar-title {
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
  }

  .bp-v2__logo {
    position: absolute;
    left: calc(12 * var(--u));
    top: calc(47 * var(--u));
    z-index: 20;
    width: calc(25 * var(--u));
    height: auto;
  }

  .bp-v2__plane {
    position: absolute;
    top: calc(35 * var(--u));
    right: calc(-0.5 * var(--u));
    z-index: 20;
    height: auto;
  }

  .bp-v2__sheet-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: calc(6 * var(--u));
    margin-left: calc(5 * var(--u));
    z-index: 10;
    filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.2));
  }

  .bp-v2__card {
    background: white;
    height: calc(165.25 * var(--u));
    width: calc(86.75 * var(--u));
    position: relative;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  .bp-v2__card.ContentShape {
    clip-path: path(
      'M 0,38 L 0,623 A 48,48 0,0,0 48,661 L 304,661 A 48,48 0,0,0 347,623 L 347,92 A 48,48 0,0,0 322,58 L 42,0 A 48,48 0,0,0 0,38 Z'
    );
  }

  .bp-v2__grid {
    display: grid;
    grid-template-columns: 1fr 33px 1fr;
    gap: calc(2 * var(--u));
    height: calc(91.5 * var(--u));
    position: absolute;
    bottom: calc(20 * var(--u));
    width: 100%;
    padding-left: calc(4 * var(--u));
    padding-right: calc(4 * var(--u));
    align-items: center;
    justify-content: center;
  }

  .bp-v2__cell {
    color: var(--bp-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
  }

  .bp-v2__code {
    color: var(--bp-brand);
    font-size: 28px;
    font-weight: 700;
  }

  .bp-v2__small {
    font-size: 12px;
  }

  .bp-v2__divider {
    grid-column: span 3;
    border-top: 1px solid var(--bp-separator);
    margin-left: calc(2 * var(--u));
    margin-right: calc(2 * var(--u));
  }

  .bp-v2__plane-icon {
    transform: rotate(45deg);
    fill: black;
    stroke: none;
  }
</style>
<div class="bp-v2">
  <div class="bp-v2__header HeaderShape">
    <div class="bp-v2__globe" style={`--globeBackground:url(${Globe.src})`}>
      <div class="bp-v2__toolbar">
        <ChevronLeft width={33} height={33} />
        <div class="bp-v2__toolbar-title">My Flights</div>
        <MenuDots class="bp-v2__menu" width={20} height={20} />
      </div>
    </div>
  </div>
  <img src={Logo.src} alt="Logo" class="bp-v2__logo" />
  <img src={PlaneImage.src} alt="Plane" class="bp-v2__plane" />
  <div class="bp-v2__sheet-wrap">
    <div class="bp-v2__card ContentShape">
      <div class="bp-v2__grid">
        <div class="bp-v2__cell">
          <div>London</div>
          <div class="bp-v2__code">LTN</div>
          <div class="bp-v2__small">9:20 pm</div>
          <div class="bp-v2__small">Sun, 20 Mar 2021</div>
        </div>
        <Plane class="bp-v2__plane-icon" width={21} height={21} />
        <div class="bp-v2__cell">
          <div>Doha</div>
          <div class="bp-v2__code">DOH</div>
          <div class="bp-v2__small">1:20 am</div>
          <div class="bp-v2__small">Sun, 20 Mar 2021</div>
        </div>
        <div class="bp-v2__divider"></div>
        <div class="bp-v2__cell">
          <div>Sydney</div>
          <div class="bp-v2__code">SYD</div>
          <div class="bp-v2__small">9:20 pm</div>
          <div class="bp-v2__small">Sun, 20 Mar 2021</div>
        </div>
        <Plane class="bp-v2__plane-icon" width={21} height={21} />
        <div class="bp-v2__cell">
          <div>Doha</div>
          <div class="bp-v2__code">DOH</div>
          <div class="bp-v2__small">1:20 am</div>
          <div class="bp-v2__small">Sun, 20 Mar 2021</div>
        </div>
        <div class="bp-v2__divider"></div>
        <div class="bp-v2__cell">
          <div>London</div>
          <div class="bp-v2__code">LHR</div>
          <div class="bp-v2__small">9:20 pm</div>
          <div class="bp-v2__small">Sun, 20 Mar 2021</div>
        </div>
        <Plane class="bp-v2__plane-icon" width={21} height={21} />
        <div class="bp-v2__cell">
          <div>Doha</div>
          <div class="bp-v2__code">DXB</div>
          <div class="bp-v2__small">1:20 am</div>
          <div class="bp-v2__small">Sun, 20 Mar 2021</div>
        </div>
      </div>
    </div>
  </div>
</div>
