---
import "./style.css";
---

<div class="w-100 h-100 bg-[#6cb3a9] flex justify-center items-center">
    <div
        class="h-80 aspect-square rounded-full bg-linear-[180deg,#d25b70_150px,#781728_150px,#781728_170px,white_170px] flex justify-center items-center"
    >
        <div
            class="h-20 aspect-square bg-[#f6df96] rounded-full border-10 border-[#781728]"
        >
            <div
                class="h-5 w-[320px] left-10 top-47.5 absolute bg-linear-[90deg,#6cb3a9_10px,#00000000_10px,#00000000_310px,#6cb3a9_310px]"
            >
            </div>
        </div>
    </div>
</div>
